/* phpcs:ignore */

.map {
  width: 100%;
  height: 320px;
}
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}
.infobox {
  width: 200px;
}
.infobox_categoria{
  font-weight: 400;
  display: block;
}
.infobox_municipio{
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}
.map .legend {
	line-height: 18px;
	color: #555;
  width: 200px !important;
  text-align: left !important;
}
.map .legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
h3.servico {
  text-align: center;
  margin: 60px 0 50px !important;
  text-transform: uppercase;
  font-size: 40px;
}

h4.atributo {
  margin: 40px 0 20px !important;
}

.alertbox {
  background: #694e92;
  border-radius: 10px;
  padding: 10px;
  margin: 30px 0;
  color: white;
}
.footnote {
  font-size: 11px !important;
}

.position::after {
  content: "º";
}

/* The Modal (background) */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: rgb(0,0,0); /* Fallback color */
 background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
 background-color: #fefefe;
 margin: 15% auto; /* 15% from the top and centered */
 padding: 20px;
 border: 1px solid #888;
 width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
 color: #aaa;
 float: right;
 font-size: 28px;
 font-weight: bold;
}

.close:hover,
.close:focus {
 color: black;
 text-decoration: none;
 cursor: pointer;
}

button.glossario {
    background: none;
    box-shadow: none;
    border: none;
    display: inline-block;
    border-radius: 20px;
    background: orange;
    color: white;
    font-weight: bold;
    height: 23px;
}
